
   <div class="logos">
    <a class="logo-main-link" routerLink="/main"><img class="sign-icon" src="assets/studlife_logo.png" > <span class="logo-left-part">StudLife</span></a>
  </div>
  
    <div class="top"><a class="rout" routerLink="/profile">My  Profile</a></div>
    <div class="top"><a class="rout" routerLink="/organiztions">Organizations</a></div>
    <div class="top"><a class="rout" routerLink="/goverment">Student Government</a></div>

  <div class="user-buttons">
    <a routerLink="/login" class="sign-in-button">Log Out <img class="sign-out" src="assets/toppng.png" > </a>
  </div>

