<div class="container">
      
     <div class="main">
      
        <div class="left" > 
            <img class="imgprof" src="assets\profile_photo.jpg"/>
        </div>
        <div class="right"> 
      <div class="part">
      <p class="write">Name</p>
      <p class="names">Togzhan Kali</p>
    </div>
    <div class="part"> 
      <p class="write">Course</p>
      <p class="names">2</p>
    </div>
    <div class="part"> 
      <p class="write">Faculty</p>
      <p class="names">FIT</p>
    </div>
    <div class="part"> 
      <p class="write">Organization</p>
      <p class="names">Art House</p>
    </div>
      </div>
      
</div>
<div class="for1"> <a class="for" routerLink="/editprofile"> Edit</a>
      </div> 
</div>