.container{
    width:235px;
    height: 335px;
    background: #EFEDED;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 150px;
}
.imgprof{
    width:235px;
    height: 270px;
    border-radius: 10px;
}
.description{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #376B52;
}