.right1{
    margin-top: 100px;
    width:550px;
    height: 514px;
    background: rgba(192, 216, 143, 0.6);
    box-shadow: 7px 7px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border:none;
    padding:20px 20px 28px;

    border-radius: 8px;
    margin-left:450px;
    box-sizing: border-box;
}
.pasew{
    
background: #FFFFFF;
border: 1px solid #376B52;
border-radius: 5px;
    font-size:17px;
    font-family:inherit;
    color: #1d2129;
    padding: 14px 16px;
    width:460px;
    display: inline-block;
    height:18px;
    line-height:16px;
    vertical-align:middle;
    margin-top: 0%;
}
.but1 {
    background: #376B52;
    border-radius: 20px;
border: none;
font-family: 'Oxygen';
font-style: normal;
color:white;
line-height:30px;
padding: 0px 16px;
display: inline-block;
margin-top: 35px;
border-radius: 20px;
width:200px;
margin-left: 150px;
margin-bottom: 70px;
font-size: 16px;
}
.for{
    font-family: 'Oxygen';
    font-style: normal;
    margin-left: 180px;
color: #376B52;
}
.passwem{
    font-family: 'Oxygen';
font-style: normal;
font-weight: 400;
margin-top:10px;
line-height: 30px;
margin-bottom: 0%;
font-size: 16px;

color: #376B52;
}
.signs-icon{
height: 100px;
margin: 0%;
padding:0% ;
}
.logo{
    text-align: center;
    height:120px;
    margin-left:px;
    margin-top: 0%;
    padding: 0%;

  
}
.logoword{
    font-family: 'Kelly Slab';
font-style: normal;
color: #376B52;
padding: 0%;
margin-top: 0%;
font-size:20px;
}
.main{
    margin-top: 30px;
    margin-left: 20px;
}