<div class="right1">
    <div class="logo">
    <img class="signs-icon" src="assets/studlife_logo.png" />
    <p class="logoword">StudLife</p>
 </div>

 <div class="main">
    <p class="passwem">E-mail</p>
    <input class="pasew" [(ngModel)]="email" type="text" >
   
   <p class="passwem">Password</p>
    <input class="pasew" type="password" [(ngModel)]="password" >
   
    <button class="but1" type="button">Sign in</button>
  <br>
   <a class="for" routerLink="/signup"> Don't have an account?</a>
   </div>
 
    </div>
