<div class="right1">
    <div class="logo">
    <img class="signs-icon" src="assets/studlife_logo.png" />
    <p class="logoword">StudLife</p>
 </div>

 <div class="main">
    <p class="passwem">E-mail</p>
    <input type="email" [(ngModel)]="email" name="email" class="pasew" required>
   
   <p class="passwem">Password</p>
    <input type="password" [(ngModel)]="password" name="password" class="pasew" required>
   
    <button class="but1" type="button">Sign in</button>
  <br>
   <a class="for" routerLink="/signup"> Don't have an account?</a>
   </div>
 
    </div>
