<div class="right1">
  <div class="main"> 
    <p class="create">Create account</p>

    <p class="passwem">Last Name</p>
    <input [(ngModel)]="lastName" class="pasew" type="email" >
    <p class="passwem">First Name</p>
    <input [(ngModel)]="firstName" class="pasew" type="email" >
    <p class="passwem">E-mail</p>
    <input [(ngModel)]="email" class="pasew" type="email" >
   <p class="passwem">Password</p>
    <input [(ngModel)]="password" class="pasew" type="password" >
    <p class="passwem">Faculty</p>
    <select [(ngModel)]="faculty" name="cars" class="pasew" >
        <option value>1</option>
 
</select>
    
      <p class="passwem">Organizations</p>
      <select [(ngModel)]="organization" name="cars" class="pasew" placeholder="Select">
        <option *ngFor="let o of organizations">{{o.name}}</option>
      </select>
    <button class="but1" type="button">Register</button>
  <br>
   <a class="for" routerLink="/login"> Already have an account?</a>
   
  </div>
    </div>

